/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
build/
local.properties
.classpath
.project
.DS_Store
.idea
*.iml
*.ipr
*.iws
.idea/workspace.xml
.gradle
_sandbox
